@page "/demo/checkboxes"

<h2>Select all checkboxes:</h2>
<CheckboxList>
	<CheckboxItem DisplayName="Item one"/>
	<CheckboxItem DisplayName="Item two" />
	<CheckboxItem DisplayName="Item three" />
	<CheckboxItem DisplayName="Item four" />
</CheckboxList>

@code {
	//
}
