@page "/demo/splitbuttonitems"
@using BudgetApp.Client.Components.DialogWindows

<h3>SplitButton Demo</h3>

@for (int i = 1; i <= 10; i++)
{
    <ButtonDropDown Items="_items" /><br/>
}


@code {
    [CascadingParameter]
    public IModalService Modal { get; set; }

    private List<ButtonDropDownItem> _items = new();

    protected override void OnInitialized()
    {
        _items.Add(new ButtonDropDownItem() { Text = "Code Item 1", OnItemSelected = Item1Selected });
        _items.Add(new ButtonDropDownItem() { Text = "Code Item 2", OnItemSelected = Item2Selected });
        _items.Add(new ButtonDropDownItem() { Text = "Code Item 3", OnItemSelected = Item3Selected });
    }

        private Task Item1Selected()
    {
        var modalParameters = new ModalParameters();
        modalParameters.Add("Message", "Executed Item 1");
        IModalReference modal = Modal.Show<Informational>("Information", modalParameters);
        var modalResult = modal.Result;

        return Task.CompletedTask;
    }

    private Task Item2Selected()
    {
        var modalParameters = new ModalParameters();
        modalParameters.Add("Message", "Executed Item 2");
        IModalReference modal = Modal.Show<Informational>("Information", modalParameters);
        return Task.CompletedTask;
    }

    private Task Item3Selected()
    {
        var modalParameters = new ModalParameters();
        modalParameters.Add("Message", "Executed Item 3");
        IModalReference modal = Modal.Show<Informational>("Item 3 Executed", modalParameters);
        return Task.CompletedTask;
    }
}
